.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.app-body {
  display: flex;
  max-width: 1200px;
  padding: 35px 20px;
}
@media (max-width: 768px) {
  .app-body {
    width: 90%;
  }
}
