.feed-input-option {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  color: gray;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: whitesmoke;
    border-radius: 4px;
  }
  h4 {
    margin-left: 5px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .feed-input-option {
    h4 {
      font-size: 12px;
    }
  }
}
@media (max-width: 378px) {
  .feed-input-option {
    display: inline-block;
  }
  .feed-input-option {
    text-align: center;
  }
}
