.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 10px;
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  width: 100%;
  align-items: center;
  background-color: #fff;
}
.header-left {
  display: flex;
  img {
    object-fit: contain;
    height: 34px;
    margin-right: 10px;
  }
  .header-search {
    // padding: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    // height: 22px;
    height: 18px;
    color: gray;
    background-color: #eef3f8;
    input {
      border: none;
      outline: none;
      background: none;
    }
  }
}
@media (max-width: 768px) {
  .header .header-search {
    display: none;
  }
}
.header-right {
  display: flex;
}
