.headerOption {
  margin-right: 20px;
  color: gray;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  &:hover {
    color: black;
  }
}
.headerOption-icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
  font-size: 12px !important;
  line-height: 25px !important;
}
.headerOption-title {
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .headerOption-title {
    display: none;
  }
}
@media (max-width: 768px) {
  .headerOption:last-child {
    margin-right: 0;
  }
}
