.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    color: gray;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: whitesmoke;
        border-radius: 4px;
    }
    h4{
        margin-left: 5px;
        font-size: 14px;
    }
}
